/*
body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
  }
  */
  
  .container {
    background-image: url('https://mega.nz/file/lF4G1YjB#mwnYfwc6ej29BjL9Cw16w8U-ZCKxq6gYS1qfp-0Fto8');
    /*background-position: center top;*/
    background-repeat: no-repeat;
    max-width: 980px;
    margin: 0 auto;
    /*background-color: transparent;*/
  }
 
  img {
    display: block;
    max-width: 100%;
  }
  
 .content {
    padding: 25px 10px;
    float:left;
  }
  
  .content p {
    
    font-size: 64px;
    color: #ff5c5c;
    /*
    padding-right: 10px;
    padding-top: 10px;
    */
  }
  
  .content a {
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid #ff5c5c;
    color: #ffffff;
    background-color: #ff5c5c;
    border-radius: 40px;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
  }
  
  .hero {
    padding: 60px 0;
  }
  
  .hero img {
    max-width: 325px;
    float:right
    
   /* padding-left: 800px;
    padding-bottom: 900px;
*/
  }
 
  /*.intro {
    padding: 10px;
    color: #ff5c5c;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 42px;
  }
  
  .text {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    color: #515c74;
  }
  
  .footer {
    background-color: #ff5c5c;
  }
  
  .footer p {
    font-size: 72px;
    text-align: center;
    color: #e6eef8;
  }
  
  .footer a {
    display: inline-block;
    padding: 0;
    border: 2px solid #e6eef8;
    color: #e6eef8;
    border-radius: 16px;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
  }
  
  .social-icons img {
    display: inline-block;
  }
  */